[submodule "desktop-app"]
	path = desktop-app
	url = https://github.com/ddgithubb/Q-desktop-app
[submodule "sync-server"]
	path = sync-server
	url = https://github.com/ddgithubb/Q-sync-server
[submodule "site-app"]
	path = site-app
	url = https://github.com/ddgithubb/Q-site-app
